/*
  GENERAL STYLE SETUP (FOR CROSS-BROWSER COMPATIBILITY PURPOSE)
-----------------------------------------------------------------*/
html {
  color: #222;
  width: 100%;
  height: 100%;
  line-height: 1.4;
  font-size: 62.5%;
  font-family: sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
}

/**
 * Remove border when inside `a` element in IE 8/9/10.
*/
img {
  border: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet.
*/
input {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: normal;
}

/**
 * Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`.
*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct inability to style clickable `input` types in iOS.
 * 2. Improve usability and consistency of cursor style between image-type `input` and others.
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
  DANIEL EDEN ANIMATE.CSS (TADA EFFECT)
-----------------------------------------------------------------*/
/**
  * Animate.css - http://daneden.me/animate
  * Licensed under the MIT license - http://opensource.org/licenses/MIT
  * Copyright (c) 2014 Daniel Eden
*/
@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

/*
  PROJECT SPECIFIC STYLES
----------------------------------------------------*/
/**
  The application header styling information
*/
* {
  box-sizing: border-box;
}

header {
  font-size: 2rem;
  height: auto;
  line-height: 60px;
}

.menu-item {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  background: #1e7daf;
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  padding: 0.2em;
  border: 2px solid #585858;
}

.menu-item img,
.toolbar-item .icon {
  display: inline-block;
  max-width: 55px;
  max-height: 55px;
  vertical-align: baseline;
}

.toolbar-container {
  position: absolute;
  top: 60px;
  left: 0;
  width: 60px;
  height: 635px;
  background: #333333;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) height;
}

.close-menu-toolbar .toolbar-container {
  height: 0;
  overflow: hidden;
}

.toolbar-item {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-bottom: 2px solid #585858;
  padding: 0.1em;
  cursor: pointer;
}

.toolbar-item label {
  opacity: 0;
  position: absolute;
  left: -2000px;
}

.toolbar-item input {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
}

.toolbar-item input[type="number"] {
  padding: 0.1em;
}

/**
  Below style rules are used to overwrite some browser default styles
*/
.toolbar-item input[type="color"] {
  border-width: 0;
  border-style: none;
  border-color: rgb(169, 169, 169);
  border-image: none;
  padding: 0;
}

.toolbar-item .icon {
  max-width: 35px;
  max-height: 35px;
  vertical-align: middle;
}

.menu-item:hover img,
.menu-item:focus img,
.menu-item:active img,
.toolbar-item:hover .icon,
.toolbar-item:focus .icon,
.toolbar-item:active .icon {
  -webkit-animation-name: tada;
          animation-name: tada;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.app-title {
  position: absolute;
  top: 0;
  left: 60px;
  min-width: 1300px;
  width: calc(100% - 60px);
  height: 60px;
  background: #1e7daf;
  text-align: center;
  border-bottom: 2px solid #585858;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.close-menu-toolbar .app-title {
  min-width: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
}

.app-title h1 {
  margin: 0;
  letter-spacing: 0.5em;
  word-spacing: 0.25em;
  /* transition: 0s cubic-bezier(0.175, 0.885, 0.32, 1.275) all; */
}

/* .close-menu-toolbar .app-title h1 {
  min-width: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
} */

/**
  The application Pixel Art Design Canvas styling information
*/
main {
  font-size: 2rem;
}

h2 {
  margin: 1em 0 0.25em;
  opacity: 0;
  position: absolute;
  left: -2000px;
}

table,
tr,
td {
  border: 1px solid rgba(88, 88, 88, 0.5); /* #585858 */
}

.pixel-canvas-container {
  position: absolute;
  top: 60px;
  left: 60px;
  bottom: 0;
  right: 0;
  z-index: -1;
  min-width: 1300px;
  overflow: hidden;
}

table {
  margin: 0 auto;
  table-layout: fixed;
  overflow-x: scroll;
}

tr {
  height: 10px;
}

td {
  width: 10px;
}