/*
  GENERAL STYLE SETUP (FOR CROSS-BROWSER COMPATIBILITY PURPOSE)
-----------------------------------------------------------------*/
html {
  color: #222;
  width: 100%;
  height: 100%;
  line-height: 1.4;
  font-size: 62.5%;
  font-family: sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
}

/**
 * Remove border when inside `a` element in IE 8/9/10.
*/
img {
  border: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet.
*/
input {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: normal;
}

/**
 * Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`.
*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct inability to style clickable `input` types in iOS.
 * 2. Improve usability and consistency of cursor style between image-type `input` and others.
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
  PROJECT SPECIFIC STYLES
----------------------------*/
* {
  box-sizing: border-box;
}

header {
  font-size: 2rem;
  height: auto;
  line-height: 60px;
}

.menu-item {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  background: #1e7daf;
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  padding: 0.2em;
  border-right: 2px solid #585858;
}

.menu-item img,
.toolbar-item .icon {
  display: inline-block;
  max-width: 55px;
  max-height: 55px;
  vertical-align: baseline;
}

.toolbar-container {
  position: absolute;
  top: 60px;
  left: 0;
  width: 60px;
  height: auto;
  background: #333333;
}

.toolbar-item {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-top: 2px solid #585858;
  padding: 0.1em;
  cursor: pointer;
}

.toolbar-item label {
  opacity: 0;
  position: absolute;
  left: -2000px;
}

.toolbar-item input {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
}

.toolbar-item input[type="number"] {
  padding: 0.1em;
}

.toolbar-item .icon {
  max-width: 50px;
  max-height: 50px;
  vertical-align: top;
}

.app-title {
  position: absolute;
  top: 0;
  left: 60px;
  width: calc(100% - 60px);
  height: 60px;
  background: #1e7daf;
  text-align: center;
}

.app-title h1 {
  margin: 0;
  letter-spacing: 1em;
  word-spacing: 0.5em
}

main {
  font-size: 2rem;
}



h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}